## 设置数据库IP地址+端口号集。
## 使用JSON数据格式，每个设置对象包含key与values属性，其中
## * key 为数据库引用名称，空则为默认数据库；必须有且仅有一个key设置为空。
## * type 数据库方言，可选：mysql、oracle。
## * username 数据库登入用户名。
## * password 数据库登入密码。
## * ips 指定数据库的访问IP地址+":"+端口号，如果设置多个值则第一个为可读写库，其余均为只读库。
## * schema 数据库名。
photon.dao.database.config=[{key:"",type:"mysql",username:"root",password:"root",ips:["43.154.106.190:3306"],schema:"d_eagle"}]
## 连接池最大激活数量，如果非正整数，则不做限制。
#photon.dao.database.max-active=5

## 设置获取真实IP的请求头名称。
## 如果为空则使用系统默认的方式获取；
## 如果配置了反向代理则设置为转发的头名称。
## 注：nginx转发时头名称会被转化为全小写，如：。
photon.ctrl.context.header.real-ip=x-real-ip

## 设置是否忽略站点根。
## 如果设置为true，则访问站点根时不使用定义的服务进行处理。
## 如果设置为false，则访问站点根时使用定义的服务进行处理。
photon.ctrl.http.ignore.root=true

## 设置忽略URI地址前缀。多个设置值之间使用逗号进行分隔。
## 当访问的URI地址前缀与设置值相同时不使用定义的服务进行处理。
photon.ctrl.http.ignore.prefixes=/upload/,/c/,/o/,/h/,/assets/,/audio/,/icon/,/js/,/view/

## 设置使用文件名校验304 NOT MODIFIED规则。
## 当访问的URI包含以下字符串时，将返回304。
photon.ctrl.http.not-modified.names=/upload/image/,/static/

## 设置文件上传最大文件大小。
photon.ctrl.http.upload.max-size=512m

## 设置是否启动时同步用户数据。
clivia.user.sync=true

## 设置在线时间有效时长，单位：分钟。
## 最后一次访问超过此设置时，将被视为下线。
clivia.user.online.effective=10080

## 设置是否启用权限校验。
clivia.user.crosier.on=true

## 设置是否自动刷新微信Token信息。
## * true 自动刷新；
## * false 不自动刷新；
## 必须有且仅有一个节点设置为true。
clivia.weixin.auto=true

## 设置模块包名。
clivia.module.package=com.desert.eagle

eagle.football.bets=